WCFServicesTest/Service References/CustomersWS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCustomers" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCustomers_getcustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:getcustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_getcustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_insertcustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:insertcustomer" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_insertcustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertcustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_updatecustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:updatecustomer" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_updatecustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatecustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_deletecustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:deletecustomer" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_deletecustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletecustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_getcustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:getcustomerById" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_getcustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_getcustomerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:getcustomerLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceCustomers_getcustomerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcustomerLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCustomers">
    <wsdl:operation name="getcustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomers/getcustomers" message="tns:IServiceCustomers_getcustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomers/getcustomersResponse" message="tns:IServiceCustomers_getcustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertcustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomers/insertcustomer" message="tns:IServiceCustomers_insertcustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomers/insertcustomerResponse" message="tns:IServiceCustomers_insertcustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatecustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomers/updatecustomer" message="tns:IServiceCustomers_updatecustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomers/updatecustomerResponse" message="tns:IServiceCustomers_updatecustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletecustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomers/deletecustomer" message="tns:IServiceCustomers_deletecustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomers/deletecustomerResponse" message="tns:IServiceCustomers_deletecustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getcustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomers/getcustomerById" message="tns:IServiceCustomers_getcustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomers/getcustomerByIdResponse" message="tns:IServiceCustomers_getcustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getcustomerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCustomers/getcustomerLogin" message="tns:IServiceCustomers_getcustomerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCustomers/getcustomerLoginResponse" message="tns:IServiceCustomers_getcustomerLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCustomers" type="tns:IServiceCustomers">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getcustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomers/getcustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertcustomer">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomers/insertcustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatecustomer">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomers/updatecustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletecustomer">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomers/deletecustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcustomerById">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomers/getcustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcustomerLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceCustomers/getcustomerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCustomers">
    <wsdl:port name="BasicHttpBinding_IServiceCustomers" binding="tns:BasicHttpBinding_IServiceCustomers">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceCustomers/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>