WCFServicesTest/Service References/ReservationWS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceReservation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceReservation_getreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:getreservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_getreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_insertreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:insertreservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_insertreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_updatereservation_InputMessage">
    <wsdl:part name="parameters" element="tns:updatereservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_updatereservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatereservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_deletereservation_InputMessage">
    <wsdl:part name="parameters" element="tns:deletereservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_deletereservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletereservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_getreservationById_InputMessage">
    <wsdl:part name="parameters" element="tns:getreservationById" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_getreservationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getreservationByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceReservation">
    <wsdl:operation name="getreservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/getreservation" message="tns:IServiceReservation_getreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/getreservationResponse" message="tns:IServiceReservation_getreservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertreservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/insertreservation" message="tns:IServiceReservation_insertreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/insertreservationResponse" message="tns:IServiceReservation_insertreservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatereservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/updatereservation" message="tns:IServiceReservation_updatereservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/updatereservationResponse" message="tns:IServiceReservation_updatereservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletereservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/deletereservation" message="tns:IServiceReservation_deletereservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/deletereservationResponse" message="tns:IServiceReservation_deletereservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getreservationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/getreservationById" message="tns:IServiceReservation_getreservationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/getreservationByIdResponse" message="tns:IServiceReservation_getreservationById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceReservation" type="tns:IServiceReservation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getreservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/getreservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertreservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/insertreservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatereservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/updatereservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletereservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/deletereservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreservationById">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/getreservationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceReservation">
    <wsdl:port name="BasicHttpBinding_IServiceReservation" binding="tns:BasicHttpBinding_IServiceReservation">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceReservation/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>