WCFServicesTest/Service References/ReservationWS/wcf_fullcarwash.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfreservations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reservations" nillable="true" type="tns:reservations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfreservations" nillable="true" type="tns:ArrayOfreservations" />
  <xs:complexType name="reservations">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="idEmployee" type="xs:int" />
      <xs:element minOccurs="0" name="idLocal" type="xs:int" />
      <xs:element minOccurs="0" name="nameCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameEmployee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameLocal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reservations" nillable="true" type="tns:reservations" />
</xs:schema>