WCFServicesTest/Service References/LocalsWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
  <xs:element name="getlocals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getlocalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getlocalsResult" nillable="true" type="q1:ArrayOflocals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertlocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objloc" nillable="true" type="q2:locals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertlocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertlocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatelocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objlocal" nillable="true" type="q3:locals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatelocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatelocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletelocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletelocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletelocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlocalById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlocalByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getlocalByIdResult" nillable="true" type="q4:locals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>