WCFServicesTest/Service References/LocalsWS/wcf_fullcarwash.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOflocals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="locals" nillable="true" type="tns:locals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflocals" nillable="true" type="tns:ArrayOflocals" />
  <xs:complexType name="locals">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="schedules" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="locals" nillable="true" type="tns:locals" />
</xs:schema>