WCFServicesTest/Service References/ReservationsWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
  <xs:element name="getreservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getreservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getreservationsResult" nillable="true" type="q1:ArrayOfreservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objreserv" nillable="true" type="q2:reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertreservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatereservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objreserv" nillable="true" type="q3:reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatereservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatereservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletereservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletereservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletereservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getreservationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getreservationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getreservationByIdResult" nillable="true" type="q4:reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>