WCFServicesTest/Service References/ServicesWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
  <xs:element name="getservices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getservicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getservicesResult" nillable="true" type="q1:ArrayOfservice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objserv" nillable="true" type="q2:service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertserviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objservice" nillable="true" type="q3:service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateserviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteserviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getserviceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getserviceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getserviceByIdResult" nillable="true" type="q4:service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>