WCFServicesTest/Service References/EmployeesWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
  <xs:element name="getemployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getemployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getemployeesResult" nillable="true" type="q1:ArrayOfemployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertemployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objemp" nillable="true" type="q2:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertemployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertemployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateemployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objem" nillable="true" type="q3:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateemployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateemployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteemployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteemployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteemployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getemployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getemployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getemployeeByIdResult" nillable="true" type="q4:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getemployeeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getemployeeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getemployeeLoginResult" nillable="true" type="q5:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>