WCFServicesTest/Service References/EmployeesWS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEmployees" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEmployees_getemployees_InputMessage">
    <wsdl:part name="parameters" element="tns:getemployees" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_getemployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_insertemployee_InputMessage">
    <wsdl:part name="parameters" element="tns:insertemployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_insertemployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertemployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_updateemployee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateemployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_updateemployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateemployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_deleteemployee_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteemployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_deleteemployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteemployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_getemployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:getemployeeById" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_getemployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_getemployeeLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:getemployeeLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_getemployeeLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemployeeLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEmployees">
    <wsdl:operation name="getemployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmployees/getemployees" message="tns:IServiceEmployees_getemployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmployees/getemployeesResponse" message="tns:IServiceEmployees_getemployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertemployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmployees/insertemployee" message="tns:IServiceEmployees_insertemployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmployees/insertemployeeResponse" message="tns:IServiceEmployees_insertemployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateemployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmployees/updateemployee" message="tns:IServiceEmployees_updateemployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmployees/updateemployeeResponse" message="tns:IServiceEmployees_updateemployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteemployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmployees/deleteemployee" message="tns:IServiceEmployees_deleteemployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmployees/deleteemployeeResponse" message="tns:IServiceEmployees_deleteemployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmployees/getemployeeById" message="tns:IServiceEmployees_getemployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmployees/getemployeeByIdResponse" message="tns:IServiceEmployees_getemployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemployeeLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmployees/getemployeeLogin" message="tns:IServiceEmployees_getemployeeLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmployees/getemployeeLoginResponse" message="tns:IServiceEmployees_getemployeeLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEmployees" type="tns:IServiceEmployees">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getemployees">
      <soap:operation soapAction="http://tempuri.org/IServiceEmployees/getemployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertemployee">
      <soap:operation soapAction="http://tempuri.org/IServiceEmployees/insertemployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateemployee">
      <soap:operation soapAction="http://tempuri.org/IServiceEmployees/updateemployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteemployee">
      <soap:operation soapAction="http://tempuri.org/IServiceEmployees/deleteemployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getemployeeById">
      <soap:operation soapAction="http://tempuri.org/IServiceEmployees/getemployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getemployeeLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceEmployees/getemployeeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEmployees">
    <wsdl:port name="BasicHttpBinding_IServiceEmployees" binding="tns:BasicHttpBinding_IServiceEmployees">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceEmployees/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>