WCFServicesTest/Service References/EmployeesWS/wcf_fullcarwash.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfemployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="employee" nillable="true" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfemployee" nillable="true" type="tns:ArrayOfemployee" />
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberdni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="employee" nillable="true" type="tns:employee" />
</xs:schema>