WCFServicesTest/Service References/DetailReservationsWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
  <xs:element name="getdetailreservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getdetailreservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getdetailreservationsResult" nillable="true" type="q1:ArrayOfdetailreservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertdetailreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objdetail" nillable="true" type="q2:detailreservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertdetailreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertdetailreservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatedetailreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objdetail" nillable="true" type="q3:detailreservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatedetailreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatedetailreservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletedetailreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletedetailreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletedetailreservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getdetailreservationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getdetailreservationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="getdetailreservationByIdResult" nillable="true" type="q4:detailreservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>