WCFServicesTest/Service References/TypeCarsWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
  <xs:element name="gettypecars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gettypecarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="gettypecarsResult" nillable="true" type="q1:ArrayOftypecars" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserttypecar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objtype" nillable="true" type="q2:typecars" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserttypecarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inserttypecarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatetypecar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="objtype" nillable="true" type="q3:typecars" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatetypecarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatetypecarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletetypecar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletetypecarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletetypecarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gettypecarById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gettypecarByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" minOccurs="0" name="gettypecarByIdResult" nillable="true" type="q4:typecars" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>