WCFServicesTest/Service References/DetailReservationWS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDetailReservation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDetailReservation_getdetailreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:getdetailreservation" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_getdetailreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdetailreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_insertdetailreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:insertdetailreservation" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_insertdetailreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertdetailreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_updatedetailreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:updatedetailreservation" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_updatedetailreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatedetailreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_deletedetailreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:deletedetailreservation" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_deletedetailreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletedetailreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_getdetailreservationById_InputMessage">
    <wsdl:part name="parameters" element="tns:getdetailreservationById" />
  </wsdl:message>
  <wsdl:message name="IServiceDetailReservation_getdetailreservationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdetailreservationByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDetailReservation">
    <wsdl:operation name="getdetailreservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDetailReservation/getdetailreservation" message="tns:IServiceDetailReservation_getdetailreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDetailReservation/getdetailreservationResponse" message="tns:IServiceDetailReservation_getdetailreservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertdetailreservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDetailReservation/insertdetailreservation" message="tns:IServiceDetailReservation_insertdetailreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDetailReservation/insertdetailreservationResponse" message="tns:IServiceDetailReservation_insertdetailreservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatedetailreservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDetailReservation/updatedetailreservation" message="tns:IServiceDetailReservation_updatedetailreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDetailReservation/updatedetailreservationResponse" message="tns:IServiceDetailReservation_updatedetailreservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletedetailreservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDetailReservation/deletedetailreservation" message="tns:IServiceDetailReservation_deletedetailreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDetailReservation/deletedetailreservationResponse" message="tns:IServiceDetailReservation_deletedetailreservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdetailreservationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDetailReservation/getdetailreservationById" message="tns:IServiceDetailReservation_getdetailreservationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDetailReservation/getdetailreservationByIdResponse" message="tns:IServiceDetailReservation_getdetailreservationById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDetailReservation" type="tns:IServiceDetailReservation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getdetailreservation">
      <soap:operation soapAction="http://tempuri.org/IServiceDetailReservation/getdetailreservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetailreservation">
      <soap:operation soapAction="http://tempuri.org/IServiceDetailReservation/insertdetailreservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatedetailreservation">
      <soap:operation soapAction="http://tempuri.org/IServiceDetailReservation/updatedetailreservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletedetailreservation">
      <soap:operation soapAction="http://tempuri.org/IServiceDetailReservation/deletedetailreservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdetailreservationById">
      <soap:operation soapAction="http://tempuri.org/IServiceDetailReservation/getdetailreservationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDetailReservation">
    <wsdl:port name="BasicHttpBinding_IServiceDetailReservation" binding="tns:BasicHttpBinding_IServiceDetailReservation">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceDetailReservation/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>