WCFServicesTest/Service References/DetailReservationWS/wcf_fullcarwash.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf_fullcarwash" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdetailreservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detailreservation" nillable="true" type="tns:detailreservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdetailreservation" nillable="true" type="tns:ArrayOfdetailreservation" />
  <xs:complexType name="detailreservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullpayment" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idcar" type="xs:int" />
      <xs:element minOccurs="0" name="idreservation" type="xs:int" />
      <xs:element minOccurs="0" name="idservice" type="xs:int" />
      <xs:element minOccurs="0" name="nameService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceservice" type="xs:double" />
      <xs:element minOccurs="0" name="pricetypecar" type="xs:double" />
      <xs:element minOccurs="0" name="typecar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detailreservation" nillable="true" type="tns:detailreservation" />
</xs:schema>